body{
    margin: 0;
    padding: 0;

}

.container{
    display: flex;
    justify-content: space-between;
    background-color: #F3DFDE;
    margin:0;
    max-height: 100px;
}

.container h1{
    color: #6B3882;
    margin-left: 10px;
    font-size: 40px;
    align-self: center;
    font-weight: bolder;
}

nav{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-right: 30px;
}

nav .links{
    color: #6B3882;
}

nav .links a{
    text-decoration: none;
}

nav .links:hover a{
    color: #8e0bc2;
}

nav .mainlink{
    width: 8rem;
    height: 2rem;
    background-color: #723E99;
    text-align: center;
    border-radius: 5px;
}

nav .mainlink a{
    color: whitesmoke;
    text-decoration: none;
}

nav .mainlink:hover{
    background-color: #8e0bc2;
}