body{
    margin: 0;
    padding: 0;

}

.contenedor{
    background-color: #F3DFDE;
}

header{
    padding: 20px;
}

.mb-4{
    margin-bottom: 0;
}

.contenedor h1{
    color: #6B3882;
    margin-left: 10px;
    font-size: 40px;
    align-self: center;
    font-weight: bolder;
}

.nav-link{
    color: #6B3882;
    font-size: 15px;
    font-weight:normal;
    font-family: 'Poppins' sans-serif;
}

.nav-link:hover{
    color: #452454;
    font-weight: bold;
}

header .me-2{
    border-color: #6B3882;
    color: #6B3882;
}

header .me-2:hover{
    background-color: #6B3882;
    color: whitesmoke;
}

header .btn-primary{
    background-color: #6B3882;
    border-color: #6B3882;
}

header .btn-primary:hover{
    background-color: #452454;
    color: whitesmoke;
}