
.contenedor{
  max-width: 100%;
  width: 100%;
}

section{
  max-width: 100%;
  width: 100%;
}

section.container {
  padding-top: 50px;
  background-color: #FFBCA7;
}


section h2 {
  color: #7b2cbf;
  font-size: 3rem;
  font-weight: 999;
  text-align: center;
}

section h3 {
  color: #58158C;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 40px;
}


.card {
  border-radius: 15px !important;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
  background-color: #fff;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 321px;
  object-fit:none;
}


.card-body h5 {
  color: #2F0B67;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-body h6 {
  color: #5A189A;
  font-weight: bold;
}

.card-body p {
  color: #444;
  font-size: 0.9rem;
}

.card-body ul {
  padding-left: 18px;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333;
}


.btn-outline-primary {
  border-color: #5A189A;
  color: #5A189A;
  font-weight: bold;
  padding: 10px 25px;
  font-size: 1.2rem;
}

.btn-outline-primary:hover {
  background-color: #7b2cbf;
  border-color: #7b2cbf;
  color: white;
}


.hero-section {
  position: relative;
  background-color: #ffbca7;
  text-align: center;
  padding-bottom: 60px;
  overflow: hidden;
}

.wave-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.wave {
  display: block;
  width: 100%;
  height: auto;
}

.hero-content {
  position: relative;
  padding-top: 120px;
  color: #58158c;
}

.hero-content h1 {
  color: #7a1fab;
  font-weight: 800;
  font-size: 2.5rem;
}

.hero-content h2 {
  color: #58158c;
  font-weight: 700;
  font-size: 1.8rem;
}
