.bg-section-1 {
    background-color: #F4DFDF;
    min-height: 300px;
}

.title-main {
    color: #5B1089;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
}

@media (min-width: 576px) {
    .title-main {
        font-size: 2.2rem;
    }
}

@media (min-width: 768px) {
    .title-main {
        font-size: 2.5rem;
    }
}

@media (min-width: 992px) {
    .title-main {
        font-size: 40px;
    }
}

.subtitle-main {
    color: #6E0EA9;
    font-weight: normal;
    font-size: 1rem;
    max-width: 570px;
    text-align: center;
    margin-top: 15px;
}

@media (min-width: 576px) {
    .subtitle-main {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    .subtitle-main {
        font-size: 18px;
    }
}

.bg-fondo {
    height: 250px;
    background-color: #FFAE88;
    border-radius: 15px;
    overflow: visible;
    padding: 10px;
}

@media (min-width: 576px) {
    .bg-fondo {
        height: 350px;
        border-radius: 20px;
    }
}

@media (min-width: 768px) {
    .bg-fondo {
        height: 400px;
    }
}

@media (min-width: 992px) {
    .bg-fondo {
        height: 500px;
    }
}

.img-gatito {
    max-height: 300px;
}

@media (min-width: 576px) {
    .img-gatito {
        max-height: 400px;
    }
}

@media (min-width:768px){
    .img-gatito{
        max-height: 450px;
    }
}

@media (min-width: 992px) {
    .img-gatito {
        max-height: 550px;
    }
}



.img-perrito {
    max-height: 300px;
}

@media (min-width: 576px) {
    .img-perrito {
        max-height: 400px;
    }
}

@media (min-width: 768px) {
    .img-perrito {
        max-height: 450px;
    }
}

@media (min-width: 992px) {
    .img-perrito {
        max-height: 550px;
    }
}

.bg-stats {
    min-height: 95px;
    background-color: #5B1089;
}

.stats-text {
    color: #B484D3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stats-text h1 {
    font-size: 1.8rem;
}

@media (min-width: 768px) {
    .stats-text h1 {
        font-size: 2.5rem;
    }
}

.stats-text h4 {
    margin-left: 15px;
    max-width: 80px;
    font-size: 0.9rem;
}

@media (min-width: 768px) {
    .stats-text h4 {
        margin-left: 20px;
        max-width: 50px;
        font-size: 1rem;
    }
}